body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  text-align: center;
  margin: 20px;
  padding: 30px;
  box-shadow: 0px 10px 20px 10px gray;
  border: 2px solid black;
}

.firstName,
.lastname,
.age,
.employee,
.favoriteColor,
.notes {
  padding: 10px;
}

.age input {
  margin-left: 45px;
}

.employee input {
  margin-left: 165px;
}

.favoriteColor {
  text-align: center;
}

.favoriteColor select {
  width: 155px;
}

.sauces,
.stooge {
  display: flex;
  justify-content: center;
}

.sauces ul,
.stooge ul {
  list-style: none;
  padding: 0px;
}

.sauces input,
.stooge input {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 100px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 15px;
}

.submit {
  background-color: royalblue;
  width: 5%;
  color: #fff;
  border-radius: 5px;
}

.reset {
  margin-left: 50px;
  width: 5%;
  color: #000;
  border-radius: 5px;
}

.content {
  display: inline-block;
  width: 30%;
  height: 400px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 10px 20px 10px gray;
  margin: 10px;
  padding: 10px;
  text-align: left;
}
